.btn-theme {

    margin-left:-22px;

    background-image:url('/img/themes_copyright/aberration_silver/button_rock.png');

    &:hover {
        background-image:url('/img/themes_copyright/aberration_silver/button_rock_hover.png');
    }

    span {
        padding:23px 11px 0 26px;
        color:#222 !important;
    }
}