&.inspector {

    h3 {
        color:#fff;
    }

    h2,
    p {
        color:#fff;
    }

    .results__title {
        color:$orange
    }

    .filters {

        label {
            color:#fff;
        }
    }
}