.btn-theme {
    width: 226px;
    height: 65px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;

    border: none;

    span {
        display: block;
        padding:10px 0 0 10px;
        font-weight: bold;
        color:#fff !important;
        text-transform: uppercase;
        text-align: center;
        overflow: hidden;
        opacity:.9
    }
}