&.supplies,
&.token {
    .list-group li {
        color:#333;
    }

    .main_content {

        h3, h4 {
            color:#fff !important;
            font-weight: bold;
        }
    }
}

.package-category {
    h2 a {
        color:#fff;
    }
}