/vendor
/node_modules
/public/storage
/resources/views/pages/v2
Homestead.yaml
Homestead.json
.env
public/build/*
public/css/*
public/js/*
._*
.nfs*
npm-debug.log
/public/build/css/all.css.map
/public/build/rev-manifest.json
/public/css/all.css
/public/css/all.css.map
/public/css/app.css
/public/css/app.css.map
/public/js/bundle.js
/public/js/app.js
public/core