@import './../settings/_settings';
.container.hr {
    padding:0;
    border: 0;
    border-top: 1px solid #eee;
    margin-bottom:$large-gutter;
}

.main_content .container-fluid {
    padding:0;
}

* {
    letter-spacing: .3px;
}

body.v2 {
    background:$white;

    img {
        max-width:100%;
    }
    
    &.fixed {
        position: fixed;
    }

    @import
    'layout/_layout',
    'common/_common',
    'pages/_pages';

}