.banner {
    
    .navigation {
        text-align: center;
    }

    &:before {
        background-image: url('/img/message-background.jpg');
        background-position: bottom left;
        background-size:cover;
        opacity:.5;

        @media (max-width:767px) {
            max-height:400px;
            min-height:auto;
        }
    }

    small {
        display: block;
        font-size: 16px;
        color: $white;
        margin-top: 10px;
        margin-bottom: -26px;

        .linkwrapper {
            line-height: 26px !important;

            a.accountlink {
                color:$orange;
            }
        }
    }
}