.btn-theme {
    background-color:var(--btn-bg);
    color:var(--btn-color);
    border:1px var(--btn-color) solid;
    padding:1rem 2rem;

    @include transition(background, color, border-color .2s);

    &:hover,
    &:focus {
        background-color:var(--btn-color);
        color:var(--btn-bg);
        border-color:var(--btn-bg);
    }

    &:active,
    &:focus {
        background-color: transparent;
        box-shadow: none;
        //border:none;
        outline:0;
    }

    &.disabled {
        cursor: pointer;
    }

    span {
        font-size:1rem;
        text-align: center;
        font-weight: bold;
    }
}