.custom-nav {
    margin-top:3rem;
    margin-bottom:3rem;

    background-color:var(--transparent-bg);
    border:1px var(--transparent-bg) solid;

    @include border-radius(3px);

    ul.nav {
        > li {
            > a {
                color:var(--custom-nav-link-color);
                text-decoration: none;
                font-weight: bold;
            }

            &:hover {

                > a {
                    color:var(--custom-nav-link-hover-color);
                }
            }

            &.active {
                > a {
                    color:var(--custom-nav-link-active-color);
                    background-color:var(--custom-nav-link-active-bg);
                }

                &:hover > a {
                    color:var(--custom-nav-link-active-hover-color);
                    background-color:var(--custom-nav-link-active-hover-bg);
                }
            }
        }
    }
}