.label-theme {
    color:var(--bg-color) !important;
    background-color:var(--secondary-color);
    text-decoration: none !important;

    a {
        color:var(--bg-color) !important;
        text-decoration: underline;
        
        &:hover {
            text-decoration: none;
        }
    }

    &.small {
        font-size: .6rem;
        padding: 0.1rem .3rem;
        vertical-align: middle;
        line-height: 0rem;
    }
}