.rulegate {
    padding:2rem;

    &.bg {
        background-color:var(--primary-color);
    }

    &-form {

    }

    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
        }
        100% {
            box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
        }
    }

    button.accept-rules {

        animation: pulse 2s infinite;
    }

    &-form-alert {
        padding:1rem;

        .alert {
            margin-bottom: 0;
        }
    }
}