.stat_canvas {
    height:300px;

    color:var(--content-text-color);

    .legend,
    .flot-text {
        color:var(--content-text-color) !important;
    }

    .legend {

        > div {
            background-color: transparent !important;
        }

        table {

            td {
                background-color: transparent !important;

                &.legendLabel {
                    padding-left:5px;
                }
            }
        }
    }
}