.defaultcontent {
    h1,h2,h3,h4,h5,h6 {
        color: var(--primary-color);
        margin-bottom:1rem;
    }
}

.nav-filler {
    display:block;
    height:60px;
}

@import 'theme-extinction',
'theme-atlas-kraken';