.center-block {
    float:none;
    margin: 0 auto;
}

.main_content .container-fluid {
    padding:0;
}


.container.hr {
    padding:0;
    border: 0;
    border-top: 1px solid #eee;
    margin-bottom:$large-gutter;
}

* {
    letter-spacing: .3px;
}