&.token {

    .banner {

        .navigation {

            .right {
                float: right !important;
            }
        }
    }

    &.buy {

        .introtext {
            strong {
                color: $orange;
                font-weight: normal;
            }
        }
    }

    &.transaction {
        .table .label {

            &-default {
                background: $grey_light + 105;
                color: $grey_light + 20;
            }

            &-champ {
                background: $orange;
                color: $white;
            }
        }

        td {
            padding-top: $inner-gutter;
            padding-bottom: $inner-gutter;
        }
    }

    &.single {

        .banner {

            h1 {

                span {
                    color: $orange;
                }
            }
        }

        h2 {
            margin-bottom: $gutter;

            img {
                margin-right: 20px;
            }
        }

        h4 {
            color: $grey;
        }

        a {
            color: $grey;
        }

        .terms {
            height: 300px;
            overflow: scroll-x;
        }

        .list-group {
            margin-bottom: $gutter;

            .list-group-item {
                border-color: $grey_light + 90;
                background: #e2e2e2 + 20;

                strong {
                    color: $orange;
                }
            }
        }

        hr {
            margin: $gutter 0;
        }

        .agree_terms {
            input {
                display: block;
                float: left;
                margin-top: 4px;
                font-size: 20px;
            }

            span {
                display: block;
                float: left;
                margin-left: 10px;

                strong {
                    color: $orange;
                }
            }
        }

        .btnwrap {
            text-align: right;
        }
    }
}