&.v2 {
    padding: 0;

    .navbar {
        position: fixed;
        background: transparent;
        border: 0;

        &:before {
            background:transparent;

            @include transition(background .5s);
        }

        &.passed-banner {

            &:before {
                position: absolute;
                width:100%;
                height:61px;
                background:$black;
                opacity: 0.9;
            }


            @media (max-width:767px) {
                .navbar-header {
                    padding:0 15px;
                }
            }
        }

        > .container {
            padding-top: 5px;
            padding-bottom:5px;
        }

        .navbar-brand {

            position: absolute;
            z-index: 9999;
            opacity:.7;

            padding-top: 9px;

            h1 {
                font-size: 23px;
                line-height: 32px;
                font-family: Righteous;
                color:$white;
                margin: 0;
                padding: 0;

                @include transition(color .2s);

                &:hover {
                    color: $orange;
                }


                @media (max-width:767px) {
                    font-size: 28px;
                }
            }
        }

        .navbar-toggle,
        .navbar-toggle:focus,
        .navbar-toggle:hover {
            padding:0;
            border-color:$white;
            background:$orange;
            border:0;
            border-color: $white;
            background: transparent !important;
            text-shadow: 1px 1px 13px #000;
            font-size: 22px;
            z-index: 999;
            @include border-radius(0);
            @include transition(all .2s);


            .icon-bar {
                background: $white;
                @include transition(all .2s);

                width: 40px;
                height: 4px;


                & + .icon-bar {
                    margin-top: 10px;
                }

                &:first-child {
                    margin-top:0;
                }
            }

            &:hover {
                background: $grey;

                .icon-bar {
                    background: $orange
                }
            }

            &[aria-expanded=true] .icon-bar {
                background: $grey;
            }
        }

        .navbar-nav {

            > li {
                font-size: 16px;

                > a,
                > span,
                > .dropdown > a,
                > .dropdown > span {
                    color: $white;
                    padding: 10px 20px;
                    line-height: 30px;
                    text-decoration: none;
                    text-shadow: 1px 1px 13px #000;

                    @media (max-width:1199px) {
                        padding-right:10px;
                        padding-left:10px;
                    }

                    @media (max-width:991px) {
                        font-size:14px;
                    }

                    @media (max-width: 767px) {
                        text-shadow: none;
                    }

                    @include transition(all .2s);

                    &.login,
                    &.dashboard {
                        color: $orange;
                        padding: 5px 14px;
                        margin-top: 5px;
                        margin-left: 20px;
                        margin-right: 12px;
                        border: 1px $white solid;
                        text-shadow: none;
                        outline:none;

                        @include transition(background .2s);

                        .caret {
                            margin-left:10px;
                            margin-top:-2px;
                            color:$grey;
                        }
                    }

                    &.login {
                        &:hover {
                            color: $orange;
                            text-shadow: 1px 1px 13px #000;
                            border: 1px $orange solid;

                            strong {
                                color:$white;
                            }

                            @media (max-width: 767px) {
                                color: $white;
                                text-shadow: none;
                                border: 1px $white solid;
                            }
                        }


                        @media (max-width: 767px) {
                            font-size:16px;
                        }

                        strong {
                            color:$grey;
                            margin-left:2px;
                        }

                        i {
                            font-size:18px;
                            line-height: 14px;
                            
                            &:before {
                                vertical-align: text-bottom;
                            }
                        }
                    }

                    &.dashboard {


                        &:hover {
                            color: $orange;
                            text-shadow: 1px 1px 13px #000;
                            border: 1px $orange solid;
                            background:transparent;

                            .caret {
                                color:$orange;
                            }

                            @media (max-width: 767px) {
                                color: $white;
                                text-shadow: none;
                                border: 1px $white solid;
                            }
                        }

                        &:focus {
                            color: $orange;
                            text-shadow: 1px 1px 13px #000;
                            border: 1px $orange solid;
                            text-shadow: none;
                            background:transparent;

                            .caret {
                                color:$orange;
                            }

                            @media (max-width: 767px) {
                                color: $white;
                                text-shadow: none;
                                border: 1px $white solid;
                            }
                        }


                    }

                    &.social-login {
                        padding-top:9px;

                        span {
                            font-size: 11px;
                            border-bottom: 1px $white dotted;
                        }

                        &:hover  span {
                            border-bottom-color: $orange;

                            @media (max-width: 767px) {
                                border-bottom-color: $grey;
                            }
                        }
                    }

                    &.inbox {

                        .label {
                            background:$white;
                            color:$grey;
                            float: right;
                            margin: 4px 0 0 10px;
                            padding: .4em .6em;
                            text-shadow: none;
                        }
                    }

                    &.news {
                        
                        .status {
                            display: inline-block;
                            top:5px;

                            @media (max-width:767px) {
                                background:$grey;

                                &:before {
                                    border-color:$grey;
                                }
                            }
                        }
                    }

                    &.active {
                        color:$orange;
                        text-shadow: 1px 1px 3px #000;

                        @media (max-width: 767px) {
                            color:$grey;
                            text-shadow: none;
                        }

                        .label {
                            background: transparent;
                            border:1px $orange solid;
                            color:$orange;
                            text-shadow: 1px 1px 3px #000;
                        }
                    }

                    &:hover {
                        color: $orange;

                        strong {
                            color:$grey;
                        }
                    }

                    i {
                        margin-right: 8px;
                        margin-left:2px;
                    }

                }

                &.active a {
                    background: transparent;
                }

                .dropdown {



                    //&:hover .dropdown-menu {
                    //    display: block;
                    //
                    //    margin-top: 0; // remove the gap so it doesn't close
                    //}

                    .dropdown-menu {

                        a {
                            text-decoration: none;
                            color:$grey;
                            @include transition(color .2s);

                            .right {
                                float:right;
                                margin-top:3px;
                            }

                            &.orange {
                                color:$orange;
                            }

                            &.donator {
                                font-weight:bold;
                            }

                            &:hover {
                                background:none;
                                color:$orange;
                            }

                            &.charview {

                                .char_pic {
                                    display:inline-block;
                                    //float:right;
                                    width:20px;
                                    height:20px;
                                    background-size:contain;
                                    background-repeat:no-repeat;
                                }

                                span {
                                    line-height:23px;
                                    vertical-align: top;
                                }
                            }
                        }

                        .divider {
                            margin:5px 0;
                        }

                        .dark {
                            background: #eee
                        }
                    }
                }
            }
        }
    }

    @media (max-width:767px) {
        .navbar {
            margin: 0;
        }

        .navbar-header {
            position: absolute;
            width: 100%;
            padding: $inner-gutter;
        }

        .navbar-nav {
            margin-top: $large-gutter + 15px
        }


        .navbar-brand {
            opacity:.7 !important;

            h1 {
                color: $white !important;
            }
        }

        .navbar-collapse {
            background: $orange;
            height: 100vh;
            max-height: 100vh;
            margin-top:-5px;
            border:none;
            position: absolute;
            width:100%;

            .navbar-nav {
                height:calc(100vh - 100px);
                overflow-y:auto;

                li {
                    padding-right: $gutter;
                    padding-left: $gutter;
                    margin-bottom: $inner-gutter;

                    a {
                        margin: 0;
                        font-size:20px;
                        text-align: center;

                        &:hover {
                            color:$grey;
                        }

                        &.login {
                            margin: 0;
                            padding:15px 14px;
                        }

                        &.social-login {
                            margin-top:$large-gutter;
                            
                            span {
                                font-size:16px;
                            }
                        }

                        &.inbox {

                            .label {
                                float: none;
                            }
                        }
                    }
                    
                    .dropdown {
                        margin-top:$large-gutter;

                        .dashboard {
                            width:100%;
                            border:none !important;
                            background:transparent;
                            color:#333 !important;
                            font-size:20px;
                            
                            .caret {
                                display: none;
                            }
                        }

                        > a {
                            display: block;
                            border: 0 !important;
                            background: 0 !important;
                            color: $grey !important;
                            font-size: 36px !important;
                            border-bottom: 1px $grey solid !important;
                            border-radius: 0 !important;
                            padding-bottom:$gutter !important;
                            
                            .caret {
                                display: none;
                            }
                        }

                        .dropdown-menu {
                            display: block;
                            background:transparent;
                            margin: $inner_gutter auto 0;
                            float: none;
                            left: auto;
                            top: 0;
                            position: relative;
                            width:70vw;
                            box-shadow: none;
                            border:0;
                            text-align: center;

                            a {
                                display: inline-block;
                                font-size:20px !important;
                                border-bottom:none !important;
                                color:$white !important;
                                padding:7px 0;

                                .char_pic {
                                    margin-left:10px;
                                }

                                .label {
                                    margin-left:10px;
                                }
                            }

                            .divider {
                                display:none !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .nav-filler {
        display: none;
    }
}