@mixin background-gradient($top, $bottom) {
    background: $top; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($top, $bottom); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($top, $bottom); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($top, $bottom); /* For Firefox 3.6 to 15 */
    background: linear-gradient($top, $bottom); /* Standard syntax */
}