&.package-single {

    .main-title {
        margin-bottom:2rem;

        span {
            display:block;
        }

        img {
            display: inline-block;
            max-width:100%;
            height:auto;
            margin-bottom:0;
        }

        @media (min-width:768px) {
            margin-bottom:2rem;

            img {
                max-width:200px;
                margin-bottom:0;
            }

            span {
                display: inline-block;
            }
        }
    }
}