&.package-single,
&.package-collection {

    .main-title {
        margin-bottom:2rem;

        span {
            display:block;
        }

        img {
            display: inline-block;
            max-width:100%;
            height:auto;
            margin-bottom:0;
        }

        @media (min-width:768px) {
            margin-bottom:2rem;

            img {
                max-width:200px;
                margin-bottom:0;
            }

            span {
                display: inline-block;
            }
        }
    }

    .progress {
        position: relative;
        max-width:200px;
        margin:1rem auto 1rem;
        background-color:var(--medium-text);

        .progress-bar {
            background-color:var(--primary-color)
        }

        .detail {
            position: absolute;
            text-align: center;
            display: block;
            width:100%;
            font-size: .7rem;
            line-height: 1.3rem;
            font-weight: bold;
            color:var(--dark-text)
        }
    }
}