&.supporter-tier {

    .coupon {

        h4 {
            text-align: right;
            margin-bottom:0;
        }

        .input-group {
            .form-control:first-child {
                position: relative;
                z-index: 2;
                float: left;
                width: 100%;
                margin-bottom: 0;

                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
            }

            span {
                display: table-cell;
            }
        }
    }
}