.forum-post {
    @media (min-width:768px) {
        display: table;
    }

    .persona {
        @media (min-width:768px) {
            display: table-cell;
            width: 20%;
        }

        background-color:var(--content-title-bg-color);
        padding:2rem;

        @media (min-width:768px) {
            .name {
                text-align: center;
            }
        }

        .role {
            text-align: center;

            .label {
                margin-left:1rem;
            }
        }

        .meta {
            margin-top:1rem;
            margin-bottom:1rem;
            text-align: center;
        }

        .characters {

            ul {
                margin:0;
                padding: 0;

                li {
                    list-style: none;
                    margin-bottom:1rem;

                    .char_pic {
                        display:table-cell;
                        width: 20px;
                        height: 30px;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    .linkwrapper {
                        display:table-cell;
                        vertical-align: middle;
                        padding-left: 8px;
                    }
                }
            }
        }

        @media (max-width:767px) {
            padding:1rem 2rem;

            .person-data {

                .thumbnail {
                    display:block;
                    float:left;
                    padding:1px;
                    width:30px;
                    margin-bottom:0;

                    img {

                    }
                }

                .name {
                    display: inline-block;
                    margin-left:1rem;

                    .title {
                        margin:0;
                    }
                }

                .role {
                    float:right;
                    margin-top:3px;
                }

                .meta {
                    display:none;
                }
            }

            .characters {
                display:none;
            }
        }
    }

    .post-content {
        padding:1.8rem;
        vertical-align: top;

        @media (min-width:768px) {
            margin-bottom:3rem;
            display: table-cell;
            width:80%;
        }

        @media (max-width:767px) {
            padding-bottom:3rem;
        }

        .bottom-nav {
            position: absolute;
            bottom:1.8rem;

            @media (max-width:767px) {
                line-height: .7rem;
                bottom:1rem;
            }

            span, time, a {
                font-size:.7rem;
                line-height: .7rem;
            }

            time {
                font-style: italic;
            }
        }
    }
}