.roleplay_application_form,
.panel-form {
    .alert {
        color:#666 !important;
    }

    input,
    textarea {
        color:#666 !important;
    }
}

.panel-form {
    .panel-body {

        .row {
            margin-top:30px;

            &:first-child {
                margin-top:0;
            }

            input[type=text],
            textarea,
            select {
                width:100%;
            }

            select {
                height:35px;
            }

            textarea {
                height:150px;
            }
        }
    }
}