.news {

    h2 {
        margin-bottom: $gutter;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            list-style: none;
            margin-bottom: $gutter;

            a {
                text-decoration: none;
            }

            .title {
                font-weight: bold;
                font-size: 15px;
                line-height: 23px;

                a {
                    //color: $grey;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .author {
                //color: $grey_light;
                opacity:.6;
                font-size: 13px;
            }

            time {
                //color: $grey_light;
                opacity:.6;
                font-size: 13px;
            }
        }
    }

    .directlink {
        font-size: 12px;
        color: $orange;
        text-decoration: underline;
    }
}

    .news {

        ul {

            li {

                &:hover {
                    a {
                        text-decoration: underline;
                    }
                }

                article {

                    .title {

                        .label {
                            margin-right:5px;
                            font-size:11px;
                        }

                    }

                    .summary {
                        
                        a {
                            //color:$grey;
                            text-decoration: none;
                        }
                    }

                    time {

                    }
                }
            }
        }
    }