.paginate {
    display: block;
    text-align: center;

    .pagination {
        margin:$gutter 0 0 0;

        li {

            span {
                padding:6.5px 12px;
            }

            &.active span {
                background:$orange;
                border-color: $orange;
            }
            
            a {
                text-decoration: none;
                line-height:22px;
            }

            //&:first-child *,
            //&:last-child * {
            //    padding-top:5px;
            //    padding-bottom:7px;
            //}
        }
    }
}