&.calendar {

    .banner {

        .full-content-banner {
            h1 {
                margin-bottom:-10px;
            }
        }
    }


    .calendar-js {

        .fc-toolbar {

            h2 {
                color:$white;
                text-shadow: 1px 1px 13px  #000;
            }
        }

        .fc-view-container {

            border-radius: 4px;
            padding:10px 20px 10px 10px;
            //border: 1px $grey solid;
            background:rgba(0,0,0,.7);

            table {
                border:0;

                thead,
                thead td,
                thead th {
                    border:0;
                    color:#fff;
                }

                thead td {
                    padding-bottom:10px;
                }

                tbody,
                tbody td {
                    border:0
                }

                th.fc-week-number {
                    display:none;
                }

                td.fc-week-number {
                    padding-right:10px;
                }

                td.fc-day {
                    border:1px $grey solid;
                }

                .fc-day-top {
                    padding:10px;
                }

                .fc-today {
                    background:$grey
                }

                .fc-day-grid {

                    .fc-row.fc-week:last-child {
                        margin-bottom:15px;
                    }
                }
            }
        }
    }

    &.show {

        .banner {

            small {
                font-size: 16px;
                color: $white;
            }

            &.custom_bg {
                .background {
                    img {
                        opacity: .8;
                    }
                }
            }
        }

        .summary {
            font-size: 20px;
            line-height: 32px;
            margin-bottom: $gutter;
        }

        .content {
            h1 + br,
            h2 + br,
            h3 + br,
            h4 + br,
            h5 + br,
            h6 + br {
                display: none;
                height: 0;
            }

            .participate-btn {

                small {
                    opacity: .8;
                    font-size:14px;
                }
            }
        }

        .related {

            h4 {
                font-size: 25px;
                margin-bottom: $gutter;
            }

            .article-block {
                margin-bottom: $gutter;

                &__title {
                    font-size: 20px;
                    line-height: 25px;
                    color: $grey;
                    margin-bottom: 10px;

                    @include transition(color .2s);
                }

                &__date {
                    display: block;
                    color: $grey_light;
                    margin-bottom: 10px;

                    @include transition(color .2s);
                }

                &__summary {
                    color: $grey;

                    .readmore {
                        color: $orange;
                    }
                }

                a {
                    &:hover {
                        text-decoration: none;

                        .article-block {
                            &__title {
                                color: $orange;
                            }

                            &__date {
                                color: $grey_light;
                            }
                        }
                    }
                }
            }
        }
    }
}