&.tribe {
    @import "banner",
    'members',
    'promote',
    'log';

    .panel-title .label {
        margin-left: 5px;
        font-size: 10px;
        vertical-align: 3px;
    }

    .label-admin {
        color:$grey;
    }

    .stat_canvas {
        min-height:300px;
    }

    &.settings {

        .discord {

            .panel-body {

                select {
                    display:inline-block;
                    width:50%;
                    height:30px;
                }

                input[type=submit] {
                    float: right;
                    padding: 0px 7px;
                }
            }
        }
    }
}